/* 

--- 01 TYPOGRAPHY SYSTEM

 - Font Sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

 - Font weights:
Default: 400

 - Line Heights:
Default: 1


--- 02 COLORS

- Primary: #e67e22

- Tints:
#e98b38	#eb984e	#eea564	#f0b27a	#f3bf91	#f5cba7	#f8d8bd	#fae5d3	#fdf2e9	#ffffff

- Shades:
#cf711f	#b8651b	#a15818	#8a4c14	#733f11	#5c320e	#45260a	#2e1907	#170d03	#000000

- Accents: #16828C

- Grays: #555


--- 03 IMAGES

- all images are from UNSPLASH
- customers - UIFACES


--- 04 ICONS

- 


--- 05 SHADOWS

-


---- 06 BORDER RADIUS

-


--- 07 WHITESPACE

Spacing System (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* EASY TO DO THE CALCULATIONS */
  /* font-size: 10px; */

  /* 1rem  = 10px */

  /* THis is like setting the size to 10 => 10 / 16 = 0.625 */
  /* Percentage of USERS BROWSER FONT SIZE */
  /* will help for accesibility */
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.test {
  background-color: red;

  /* width: 1000px; */
  max-width: 1000px;

  /*  2 * 16 (default) or 4 * 10 (custom)*/
  font-size: 2rem;

  /*  4 * 16 (default)  or  4 * 10 (custom)*/
  padding: 4rem;
}
