/* UNIVERSAL SELECTOR */
* {
  margin: 0;
  padding: 0;
}

/* These rule will apply to all the elements in body, but if there are other rules defined, these will not matter */
body {
  font-family: sans-serif;
  color: #444444;
  position: relative;
}

.container {
  width: 700px;
  margin-left: auto;
  /* margin-right: auto; */
  /* shorthand */
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding: 10px 30px 20px;
  margin-bottom: 60px;
  /* height: 320px; */
}

h1 {
  color: aquamarine;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-style: italic;
  padding: 20px;
  margin: 10px;
  position: relative;
}

h1::after {
  content: "TOP";
  background-color: #ffe70e;
  font-family: sans-serif;
  padding: 10px;
  position: absolute;
  top: 0;
  right: -10px;
  margin: 0;
  font-style: normal;
  display: inline-block;
}

article {
  margin-bottom: 60px;
}

h2,
h3,
h5 {
  color: #e5f507;
}

h2 {
  font-size: 60px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 40px;
}

h4 {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

p::first-letter {
  color: #df214a;
  font-weight: bold;
  font-size: 40px;
}

p::first-line {
  color: #1612ee;
}

.list-1,
.list-2 {
  margin-left: 50px;
  margin-bottom: 15px;
}

.list-1 li {
  display: inline;
}

li {
  font-size: 18px;
  margin-bottom: 10px;

  /* This changes the style to inline, so they will be one after another and will not occupy the whole space
  display: inline; */
}

nav a:link {
  background-color: orangered;
  /* Margins will apply from left to right only since a is inline*/
  margin: 20px;
  padding: 20px;

  /* CHange the elemens to block and they will be displayed one after another*/
  display: block;
}

/* Remove the margins for the last element only */
li:last-child {
  margin-bottom: 0;
}

/* will have the width of the entire page, the header */
.code-image {
  width: 100%;
  height: auto;
}

/* footer p {
  font-size: 10px;
} */

#copyright {
  font-size: 10px;
}

/* li p {
  color: chartreuse;
} */

.related-author {
  font-size: 18px;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*header p {
  font-style: italic;
}*/

.element1 {
  font-size: 30px;
  border: 3px solid #4240ec;
}

.element2 {
  font-style: italic;
  color: #cc2c7c;
  background-color: #f7e81f;
  border-left: 7px solid;
}

.element3 {
  color: coral;
  border-bottom: 7px solid #0eebf3;
}

#author {
  font-style: oblique;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(244, 178, 63);
}

.related-list {
  list-style-type: none;
}

header {
  background-color: aqua;
  margin-bottom: 30px;
}

aside {
  background-color: #f7f7f7;
  border: 5px dotted #19bbec;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0;
  width: 500px;
}

.related-list-element {
  background-color: #d85b2173;
  border-top: 7px solid #e94747;
  border-bottom: 7px dotted #8abe28;
  border-left: 7px double #31a0a0;
  border-right: 7px thick #321fd8;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

article p:last-child {
  color: red;
}

/* Styling links */
/* a {
  color: #31a0a0;
} */

/* LVHA - link visited hover Active - WE SHOULD ALWAYS SPECIFI ALL STATES */
a:link {
  color: #1fb8cc;
  text-decoration: none;
}

a:visited {
  font-weight: bold;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

a:hover {
  background-color: red;
  color: #1612ee;
  font-weight: bold;
  text-decoration: line-through dotted #f7f7f7;
}

a:active {
  font-size: 40px;
}

.like {
  width: 120px;
  height: 60px;
  font-size: large;
  cursor: pointer;
  /* so far, the button is in Normal FLow */

  /* Now we, will set it to absolute */
  position: absolute;
  /* top: 100px;
  left: 50px; */
  bottom: 50px;
  right: 50px;
}
